<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/mis-style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono:400' rel='stylesheet' type='text/css'>
    </head>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/P1380074.jpg')}}");
            background-size: 100%;
            background-repeat: no-repeat;
        }
        @media only screen and (max-width: 1200px) {
        body {
            background-size: 1200px;
        } }

        @media only screen and (max-width: 800px) and (max-height: 500px) {
        body {
            background-size: 800px;
        } }
    </style>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 text-center">
                    <h1>Misundereducated</h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </body>
</html>
